/** @format */

@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap';
@media only screen and (max-width: 1300px) {
  .hero-section .content {
    padding-top: 200px;
    margin-left: 16%;
  }
}
@media only screen and (max-width: 339px) {
  .search-bar {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .auth-body .auth-form .signup-btns {
    width: 100%;
  }
  .content-modal .tabs-heading {
    padding: 0px 15px;
  }
  #listner-div .nav-item {
    margin-bottom: 0px !important;
    padding: 0px 10px !important;
    height: auto !important;
  }
  #listner-div .nav-item .nav-link {
    padding: 10px 0px !important;
    height: auto !important;
    border-radius: 0px;
  }
  #listner-div .nav-item .nav-link.active {
    font-weight: 700 !important;
  }
  .content-modal .library-tabs .nav-tabs {
    padding-bottom: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .content-modal .library-tabs {
    padding: 15px;
  }
  .search-bar .react-datalist-input__container input {
    width: 120px;
  }
  .cole-book-list-card.header {
    display: none;
  }
  .cole-book-list-card {
    padding: 15px !important;
    flex-direction: column;
    position: relative;
  }
  .cole-book-list-card .book-detail {
    margin-bottom: 5px;
    width: 100% !important;
  }
  .cole-book-list-card .book-detail:nth-child(1) {
    width: 20px !important;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .cole-book-list-card .book-detail:nth-child(2) {
    width: 100% !important;
  }
  .cole-book-list-card .dropdown {
    width: 20px !important;
    position: absolute;
    bottom: 10px;
    right: 15px;
  }
  .auth-header .right-nav .nav-link i {
    margin: 5px 10px 0px 0px;
    font-size: 18px;
  }
  .auth-header {
    padding: 0px 15px;
  }
  .auth-header .logo img {
    height: 30px;
  }
  .auth-header .left-nav .nav-link {
    display: none;
  }
  .body-content h5,
  .body-content h6,
  .body-content h3 {
    margin-bottom: 15px !important;
  }
  .access-box {
    padding: 15px 0px;
  }
  .dashboard-body {
    padding: 30px 15px;
  }
  .dashboard-body .body-content .add-btns {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .dashboard-body .body-content .add-btns .btn {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 15px;
  }
  .auth-body .auth-form .fav {
    height: 60px;
  }
  .header-row {
    width: 100%;
    display: flex;
  }
  .auth-body .auth-form {
    width: 100%;
    padding: 0px 20px;
  }
  .auth-body .auth-form small {
    font-size: 14px;
  }
  .auth-body .auth-form h2 {
    font-size: 24px;
  }
  .auth-body .auth-form h6 {
    font-size: 16px;
  }
  .auth-body h5 {
    font-size: 24px;
  }
  .auth-body .auth-form .field-row {
    width: 100%;
  }
  .auth-body .network-url {
    width: 100%;
  }
  .auth-body .devider {
    padding: 30px 0px 20px;
  }
  .auth-body .devider .xyz {
    width: 300px;
  }
  .auth-body .auth-form .mail-img {
    height: 80px;
  }
  .auth-body .auth-form h6 {
    font-size: 14px;
  }
}
